<link rel="stylesheet" href="../component/header_page.php" />
<link
  rel="stylesheet"
  href="../../../controllers/eliminarDocumentoController.php"
/>

<link rel="stylesheet" href="../../../Document/" />

<link
  rel="stylesheet"
  href="../../../controllers/eliminarUsuarioController.php"
/>

<a href="../../../Document/ACTAS_DE_NACIMIENTO/"></a>

<a href="../../../controllers/eliminarDocumentoController.php"></a>

<a href="../../../controllers/eliminarDocumentoController.php"></a>
<a href="../../../controllers/obtenerDocumentosController.php"></a>

<a href="../../../controllers/searchUsuariosController.php"></a>
